/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/*Variáveis*/
:root {
    --text-color: #3B3C4A;
    --title-color: #181A2A;
    --second-color: #4B6BFB;
    --bg-color: #fff;
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
    --border-color: #E8E8EA;
}

/*Cor de fundo ao selecionar*/
::selection {
    color: var(--bg-color);
    background: var(--second-color);
}

header {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
}

section {
    padding: 3rem 0 3rem;
}

img {
    width: 100%;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Cabeçalho */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.nav a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--second-color);
}

.logo .bx {
    font-size: 24px;
    color: var(--second-color);
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--second-color);
    transition: 0.6s;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

/* Home */
.home {
    margin-top: 4rem;
    background: url(assets/suplementos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.home-texto {
    padding-left: 50px;
}

.home-texto h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    color: var(--title-color);
    font-weight: 900;
}

.home-texto p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
}

/* Posts */
.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 20px;
}

.post-caixa {
    background: var(--bg-color);
    padding: 16px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.post-caixa:hover {
    transition: 0.5s;
    box-shadow: var(--box-shadow);
}

.post-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}

.categoria {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-titulo {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /*Para manter o título em 2 linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 2; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
}

.post-descricao {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 5px;
    /*Para manter o título em 3 linhas*/
    display: -webkit-box;
    -webkit-line-clamp: 5; /*aqui altera a quantidade de linhas*/
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Rodapé */

.footer {
    border-top: 1px solid var(--border-color);
}
.footer-caixa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer span {
    color: var(--second-color);
}

.logo-footer .bx {
    font-size: 50px;
    color: var(--second-color);
}

.footer p {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
}

/* Página de post */

.conteudo {
    padding: 7rem 0 3rem;
}

.conteudo-titulo .categoria {
    font-size: 16px;
}

.conteudo-titulo h1 {
    padding: 16px 0 0 ;
    font-size: 36px;
    color: var(--title-color);
}

.categoria-voltar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoria-voltar a {
    text-decoration: none;
    color: var(--second-color);
}

.imagem-post {
    margin-top: 32px;
    background: url(assets/suplementos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p1 {
    margin-top: 32px;
    background: url(assets/Suplementos\ alimentares\ o\ que\ são.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p2 {
    margin-top: 32px;
    background: url(assets/Os\ 6\ tipos\ de\ vitaminas\ mais\ importantes\ para\ o\ corpo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p3 {
    margin-top: 32px;
    background: url(assets/conheça\ os\ tipos\ de\ proteina\ para\ suplementar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p4 {
    margin-top: 32px;
    background: url(assets/minerais.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p5 {
    margin-top: 32px;
    background: url(assets/quais\ casos\ sao\ indicados.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p6 {
    margin-top: 32px;
    background: url(assets/consulta\ medica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p7 {
    margin-top: 32px;
    background: url(assets/academia\ e\ musculação.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p8 {
    margin-top: 32px;
    background: url(assets/suplementos\ idosos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.imagem-post-p9 {
    margin-top: 32px;
    background: url(assets/suplementos\ criancas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.texto {
    padding: 32px 0 0;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: justify;
}

.subtitulo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    padding: 5px 0;
}

/* Referências */
.referencia {
    display: grid;
    align-items: center;
    justify-content: center;
}

.referencia a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--second-color);
    justify-content: center;
}

.referencia h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 0;
    font-size: 36px;
    color: var(--title-color);
}

.link-referencia {
    list-style: none;
}

.link-referencia a {
    margin: 1rem 0;
    text-decoration: none;
    color: var(--second-color);
}

/* Alunos */

.imagem-alunos {
    margin-top: 32px;
    background: url(assets/loucosporpontos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 462px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.aluno {
    display: grid;
    align-items: center;
    justify-content: center;
}

.aluno a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--second-color);
    justify-content: center;
}

.aluno h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 0;
    font-size: 36px;
    color: var(--title-color);
}

/* Responsividade */
@media (max-width: 1080px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 97%;
    }
}

@media (max-width: 880px) {
    section {
        padding: 4rem 0 3rem;
    }

    .container {
        width: 96.4%;
    }

    .home-texto h1 {
        font-size: 30px;        
    }

    .home-texto p {
        font-size: 15px;
    }

    .post {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        justify-content: center;
        gap: 1rem;
        padding: 0 10px 48px;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }

    .navbar a {
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    .navbar a:hover {
        background: var(--title-color);
        color: var(--bg-color);
        transition: 0.2s;
    }

    #menu:checked ~ .navbar {
        clip-path: circle(144% at 100% 1%);
    }

    .footer p {
        font-size: 14px;
    }
}